*, *::before, *::after {
  box-sizing: border-box;
}

html, body, h1, h2, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}
